In [1]:
import pandas as pd

In [2]:
#read in the CDR dataset
df1 = pd.read_csv("https://raw.githubusercontent.com/worldbank/Python-for-Data-Science/master/July_2019_Poverty_GP/day_4/cdr_flowminder_data/cdr.csv")

In [3]:
#read in the locations dataset
df2=pd.read_csv("https://raw.githubusercontent.com/worldbank/Python-for-Data-Science/master/July_2019_Poverty_GP/day_4/cdr_flowminder_data/locations.csv")

In [4]:
# Explore the CDR dataset 
df1.head()

  subscriber_id        date      time  location_id  outgoing
0    05B835LA29  2016-05-01  22:17:24            0     False
1    05B835LA29  2016-05-01  22:17:24            2     False
2    05B835LA29  2016-05-01  22:17:24            3     False
3    05B835LA29  2016-05-25  18:18:22            0      True
4    05B835LA29  2016-05-25  18:18:22            2      True

In [5]:
df1.shape

(1742, 5)

In [6]:
# Explore the locations dataset
df2.head()

   location_id       lon        lat    admin1   admin2    admin3
0            0 -63.08445  21.310360  Southern  Epsilon    Colaco
1            1 -62.99838  21.290370   Eastern    Omega  Almendra
2            2 -63.08755  21.318560  Southern  Epsilon    Colaco
3            3 -63.08885  21.339860  Southern  Epsilon    Colaco
4            4 -62.25713  21.496287   Western     Beta     Arbol

In [7]:
df2.shape

(87, 6)

In [10]:
df2.admin3.value_counts()

Arbol       49
Boise        9
Palma        5
Hormiga      4
Dulce        3
Colaco       3
Flores       2
Vista        2
Liana        2
Maris        2
Colina       2
Rosa         1
Mayor        1
Funda        1
Almendra     1
Name: admin3, dtype: int64