In [ ]:
import os, sys
import numpy as np
import pandas as pd

# Python for Data Science - Week 3 Lab
This week's exercises are will get you writing functions and using Pandas to manipulate datasets. Work through all the exercises, searching for help when you need to (ie. frequently).

## 1. Functions

#### EXERCISE 1.1: What's a Function??
_Objective: Master the basics of functions._

We learned in class the anatomy of a function. It looks like this:

In [2]:
def aNewFunction():
    print('I do some things to some inputs! :)')

We call a function like this:

In [3]:
aNewFunction()

I do some things to some inputs! :)

a.) Modify the above function by giving it a new name 'myFirstFunction'. Make it print out you name and favourite color:

In [ ]:
# YOUR CODE HERE:

We remember from class (of course we do!!) that a function can take variables as inputs. Those functions look like this:

In [7]:
def aSecondFunction(myVar):
    print('the value of the variable called myVar is: %s' % str(myVar))

In [10]:
aSecondFunction('Arya is the best Stark')

the value of the variable called myVar is: Arya is the best Stark

b.) Change this function to include a second variable. Print both variables out, one at a time!

In [ ]:
# YOUR CODE HERE:

In class we also learned that optional variables MUST be defined in the function AFTER required variables. 

You can spot an optional variable because it has a default set in the function definition:

In [11]:
def aThirdFunction(required_variable, optional_variable = 'character'):
    print('the required variable is:', required_variable)
    print('the optional variable is:', optional_variable)

We have to define required variables first in the function definition (the block starting with 'def'). Trying to define an optional variable first results in this:

In [17]:
def aThirdFunction(optional_variable = 'character', required_variable):
    print('the required variable is:', required_variable)
    print('the optional variable is:', optional_variable)

SyntaxError: non-default argument follows default argument (<ipython-input-17-b64e53ae9051>, line 1)

We run the function by writing its name, then opening brackets, and passing in at least required number of objects:

In [13]:
aThirdFunction('Arya is the best', 'Stark')

the required variable is: Arya is the best
the optional variable is: Stark

We can see the values are assigned to the variables in the order in which they are defined in the function - when we don't specify exactly which input variables they should take. 

We can get the opposite result by assigning the values explicity to the variables:

In [18]:
aThirdFunction(optional_variable = 'Arya is the best', required_variable = 'Stark')

the required variable is: Stark
the optional variable is: Arya is the best

Note - we can specify the values in any order - including optional ones first - as long as all required variables (no default) are assigned an input when we call the function.

what happens if we don't bother defining a value for the optional variable?

In [19]:
aThirdFunction(required_variable = 'hopefully no surprises here...')

the required variable is: hopefully no surprises here...
the optional variable is: character

Above, we see the function substitutes in the default value ('character') for the optional variable, called 'optional_variable'.

c.) Write a function which multiplies three numbers together and prints out the answer. For each input variable, assign a default value of 3.

In [ ]:
# YOUR CODE HERE:

d.) call this function, with the input values: (4, 5, 6)

In [ ]:
# YOUR CODE HERE:

e.) using a for-loop, call this function 5 times using the values (3, 4):

In [ ]:
# YOUR CODE HERE:

f.) using a for-loop, call this function 5 times using the values (3, i, 5). Complete the expression:

In [ ]:
# YOUR CODE HERE:

for i in range(0, 5):

If you made it this far you are well on your way to mastering functions!!

So far, we have only asked our functions to do some basic math and print the results. Once those are printed to the consol, they are gone. what if we wanted to keep them? 

The way we do this is to use 'return'. return allows you to assign the output of the function to a new variable! Consider the example below:

In [25]:
def NewBetterMultiplier(a=3,b=3,c=3):
    answer = a*b*c
    print(answer)
    return answer


the_output = NewBetterMultiplier(1,2,3)

6

so, like last time, the function still prints out the multiplication. BUT if we now call the_output:

In [27]:
the_output

6

...we see the value has been retained! Try executing the cell below multiple times:

In [32]:
the_output = NewBetterMultiplier(the_output, the_output, the_output)

1072139461476102327188594863736626789369714638009610458844102656

This is a serious example of recursion - we are effectively cubing the variable, then re-assigning it as we go. 

One way we can collect multiple results is to append them to a list object, as per below:

In [33]:
list_of_answers = []
for i in range(0,5):
    result = NewBetterMultiplier(i)
    list_of_answers.append(result)

0
9
18
27
36

In [34]:
list_of_answers

[0, 9, 18, 27, 36]

This becomes seriously useful, e.g. for opening up a hundred excel documents, doing something to them, then getting a readout of the results.

**EXERCISE 1.2: Bringing it all together**

_Objective: Practise and consolidate your function skills_

a.) Write a function that returns the output of the following expression: y = (x^2 + 12) / 3

In [ ]:
# YOUR CODE HERE:

b.) call it with x = 40

In [ ]:
# YOUR CODE HERE:

c.) call it for every value of x between 0 and 10. print the answer as you go (this time, keep the print statement outside the function)

In [ ]:
# YOUR CODE HERE:

d.) append the answers to a list

In [ ]:
# YOUR CODE HERE:

e.) iterate through the values in the list, using these as the new inputs to the function! Print out the answer

In [ ]:
# YOUR CODE HERE:

## 2. Pandas

In [9]:
import pandas as pd

__EXERCISE 2.1: Pie shop__

_Objective: Create and manipulate DataFrames_
* Create a DataFrame with three columns: month, apple_pie_sales, blueberry_pie_sales
* Summarize which products sold best
* Create a new column to summarize revenues

In [ ]:
# YOUR CODE HERE: create the df using the data supplied
# Hint: the demo notebook shows how to do this

months = ['Jan','Feb', 'Mar', 'Apr']
applie_pie_sales = [34, 19, 28, 45]
blueberry_pie_sales [18, 6, 15, 51]

df = pd.DataFrame()

In [ ]:
# YOUR CODE HERE: calculate total sales of apple pies and total sales of blueberry pies

In [ ]:
# YOUR CODE HERE: create a new columns entitled apple_pie_revenue and blueberry_pie_revenue

# Hint: revenue = units sold * price. Use the prices below.

apple_pie_price = 12
blueberry_pie_price = 15

In [ ]:
# BONUS: find a way to plot bar charts and pie charts (ha) of the shop's sales

__EXERCISE 2.2: NYC housing__

_Objective: clean and manipulate a real-world dataset_
We are using the PLUTO (Primary Land Use Tax Lot Output) database, which lists every building in New York City.
Source is [NYC Open Data Portal](https://www1.nyc.gov/site/planning/data-maps/open-data/dwn-pluto-mappluto.page). For details, check the [data dictionary](https://www1.nyc.gov/assets/planning/download/pdf/data-maps/open-data/pluto_datadictionary.pdf?r=18v2beta).

In [35]:
url = 'https://github.com/worldbank/Python-for-Data-Science/raw/master/week%203/pluto_shorter.csv'
df = pd.read_csv(url)

/Users/nicholasjones/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (18,19,21,23,78) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

__Step 1: Inspect and prepare the dataset__

In [ ]:
# Use df.head() to see the first five rows. A bit messy, no?
df.head()

In [ ]:
# We'll select some columns to keep
df.columns

In [38]:
# Note how this syntax works. Add extra columns that interest you.
my_cols = ['borough','numfloors','yearbuilt', 'landuse', 'zipcode', 'assesstot', 'xcoord','ycoord']
df = df[my_cols]

In [17]:
# Cleaner now, right?
df.head()

  borough  numfloors  yearbuilt  landuse  zipcode  unitstotal  assesstot
0      BX       0.00        0.0      7.0      NaN         0.0    59400.0
1      QN       2.50     1925.0      1.0  11357.0         2.0    29738.0
2      BK       2.75     1920.0      1.0  11208.0         2.0    27370.0
3      MN       6.00     1900.0      2.0  10025.0        19.0   510300.0
4      QN       2.00     1901.0      1.0  11421.0         2.0    29020.0

In [42]:
# Here is the key that translates NYC's land use codes into plain English (p. 17 of the data dictionary)
# We'll use the df.map() method to replace the numbers with text we can understand

# BONUS POINTS: repeat this step to substitute the short borough names (eg. MN) with the actual
# full borough names (eg. MN becomes Manhattan).

land_use_dict = {1: 'One & Two Family Buildings',
                2: 'Multi-Family Walk-Up Buildings',
                3: 'Multi-Family Elevator Buildings',
                4: 'Mixed Residential & Commercial Buildings',
                5: 'Commercial & Office Buildings',
                6: 'Industrial & Manufacturing',
                7: 'Transportation & Utility',
                8: 'Public Facilities & Institutions',
                9: 'Open Space & Outdoor Recreation',
                10: 'Parking Facilities',
                11: 'Vacant Land'}

df['landuse'] = df['landuse'].map(land_use_dict)

In [43]:
# Cleaner now, right? Add any more data cleaning steps of your choice.

df.head()

,borough,numfloors,yearbuilt,landuse,zipcode,assesstot,xcoord,ycoord
0,BX,0.00,0.0,Transportation & Utility,NaN,59400.0,1044510.0,246734.0
1,QN,2.50,1925.0,One & Two Family Buildings,11357.0,29738.0,1035479.0,223657.0
2,BK,2.75,1920.0,One & Two Family Buildings,11208.0,27370.0,1015989.0,187871.0
3,MN,6.00,1900.0,Multi-Family Walk-Up Buildings,10025.0,510300.0,994273.0,228915.0
4,QN,2.00,1901.0,One & Two Family Buildings,11421.0,29020.0,1021269.0,190793.0

__Step 2: Summarize data using mean(), min/max(), describe() etc.__
* Find out the average price of a building in Manhattan (MN) compared with Queens (QN)
* What was the most expensive building built in the year you were born?
* Compare average building

BONUS: find the average price for buildings in Brooklyn with 5-10 floors built between 2000-2010. Do the same for buildings in Manhattan and Queens with those characteristics.

In [ ]:
# YOUR CODE HERE:

__Step 3: Exploratory visualization using Pandas plotting__

In [ ]:
# Try using the function pandas.Series.value_counts
# It returns the unique count of values in a column
# BONUS: Could you produce this output only for Brooklyn?

df.landuse.value_counts()

__YOUR ACTION__: Look up the [pandas.Series.plot](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.plot.html) function, and some [examples of how to use it](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html).

Explore any questions that interest you about New York City's buildings by plotting charts, for example:
* How does price vary with age? (scatter of age vs. price)
* Does the breakdown of building types differ between boroughs? (pie chart of landuse)
* Which zip codes have most and fewest buildings?
* Where are the buildings located? (hint: try a scatter plot of xcoord and ycoord)

In [ ]:
# YOUR CODE HERE: