# Python for Data Science - session 2

### 1. Variables and math in Python

#### 1.1 Math operators

In [148]:
# add two integers
2 + 2

4

In [149]:
# multiply two integers
2 * 2

4

In [150]:
# spaces don't matter here, but keep them consistent (PEP8 good practice)
2*3   +   10

16

In [151]:
# divide two integers
6 / 3

2.0

In [152]:
# raise 2 to the 4th power
2 ** 4

16

In [153]:
# the mod function returns the remainder after division. Useful to check divisibility.
10 % 3

1

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| *  | multiplication |
| **  | to the power of |
| %  | mod |

#### 1.2 Working with variables

In [7]:
# variables, such as x here, contain values and their values can vary
x = 5

In [8]:
# to inspect a value, just call it
x

5

In [9]:
# you can perform calculations on variables
x + 3

8

In [10]:
# what's the value of x now?
x

5

In [11]:
# to update the value of a variable, you have to do assignment again
x = x + 3

In [12]:
# now what's the value of x?
x

8

In [13]:
# create a new variable y from a calculation involving x
y = x + 2
y

10

In [15]:
# calling two variables only displays the last one
x
y

10

In [16]:
# use the print() function to output value(s) to the console
print(x)
print(y)

18
10

In [17]:
# separate two values by commas to output on the same line
print(x,y)

18 10

In [18]:
# you can also print the output of an expression
print(x * y)

180

NOTE: Use valid variable names!
* Variable names can contain letters, numbers, and the underscore character.
* You can't begin variable names with a digit, or use any of Python's _reserved words_ (eg. False, list, None, zip, else, class, ...).
* Don't use a space in the middle of a variable name.

| result | variable name |
|----|----|
| Valid | my_float, xyz_123, zip_code |
| Error! | my float, 123_xyz, zip |

#### 1.3 Getting help and using tab complete

In [19]:
# get iPython help on an expression by putting ? after it
len?

In [ ]:
# use tab complete to fill in the rest of statements, functions, methods
prin

In [ ]:
# also use it to complete variable or functions that you defined yourself
name_of_course = "Python for Data Science"

In [ ]:
name_of_cou

### 2. Basic data types: int, float, string
These object types are the most basic building blocks when handling data in Python. Note that Python is an object-oriented language. Each object has a type, which determines what can be done with it. For instance, an object of type _int_ can be added to another _int_.

In compiled languages like C++, the programmer has to declare the type of any variable before using it. By contrast, Python will **infer the type of variable you want** at run-time. It does this based on what characters you pass, whether they are surrounded by quote marks or brackets. This keeps the syntax much more 'natural' - but take care to learn the rules your Python interpreter applies.

In [24]:
# integers are whole numbers
x = 10
type(x)

int

In [25]:
# floats are floating point (or decimal) numbers
y = 4.25
type(y)

float

In [26]:
# strings are sets of characters in a row, denoted by single or double quotes
course_name = 'Python for Data Science'

In [28]:
# another data type is a Boolean, which has the possible values True or False

my_enrollment_status = True
type(my_enrollment_status)

bool

In [31]:
# use isinstance to check an object's type
isinstance(course_name, int)

False

#### 2.1. Manipulating strings

In [93]:
# this is a string. It can be assigned to a variable. 
mystring = 'I am a string. Humans can interpret me easily'

In [94]:
print(mystring)

I am a string. Humans can interpret me easily

In [95]:
# strings can added (concatenated) together
add_chunk = '. I love strings'
mystring + add_chunk

'I am a string. Humans can interpret me easily. I love strings'

In [98]:
# but they can't be subtracted
mystring - add_chunk

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [96]:
# Each object type has a set of 'methods' (ie. built-in operations) attached to it. 
# You access these with dot notation.
# Example: strings have a method '.split()'

mystring.split('.')

['I am a string', ' Humans can interpret me easily']

In [97]:
# the .replace() method is handy too. This operation can be chained for entertainment value:
print(mystring)

new_string = mystring.replace("I am","Dharana is").replace("string", "human").replace("Humans", "Other humans").replace("me","her")

print(new_string)
print(new_string.replace('Dharana', 'Nicholas').replace('easily','from time to time').replace('her ','him '))

I am a string. Humans can interpret me easily
Dharana is a human. Other humans can interpret her easily
Nicholas is a human. Othim humans can interpret him from time to time

In [44]:
# the backslash is special in strings - it is called an escape character. 
# It does a number of different things depending on the next letter:
print('using \n generates a new line!')

using
 generates a new line!

In [99]:
# you can format strings together with other variables through % notation
fave_number = 10
print('my favourite number is: %f' % fave_number)

my favourite number is: 10.000000

In [103]:
# the letter after the first percent sign changes the nature of the formatting:
value_to_print = 22 / 7

print('%d' % value_to_print)    # d: decimal
print('%f' % value_to_print)    # f: float
print('%e' % value_to_print)    # e: exponential
print('%s' % value_to_print)    # s: string

3
3.142857
3.142857e+00
3.142857142857143

In [105]:
# use .format() instead, it's the updated way to format strings with variables
# to keep your outputs neat, you might want to limit the decimal places

print("My output: {}".format(q))
print("My output: {:.3f}".format(q))

My output: 3.142857142857143
My output: 3.143

#### 2.2 Converting between types
Often you need to convert variables to other types, especially to make them work together. Use the _int()_, _str()_ or _float()_ functions to convert to these data types.

In [106]:
# sometimes Python will change a variable's data type for you. Take this variable:
my_salary = 500000
print("Variable my_salary has value {} and type {}".format(my_salary, type(my_salary)))

Variable my_salary has value 500000 and type <class 'int'>

In [109]:
# now divide it by another integer. The result is a float:
daily_rate = my_salary / 365
print("Variable daily_rate has value {} and type {}".format(daily_rate, type(daily_rate)))

Variable daily_rate has value 1369.86301369863 and type <class 'float'>

In [110]:
# changing a float to an integer lops off everything after the decimal place
int(daily_rate)

1369

In [111]:
# the output should actually be 1370
round(daily_rate)

1370

In [112]:
# you can't concatenate a string and an integer

address = "1808 H ST NW, DC"
WB_zip = 20037

address + " " + WB_zip

TypeError: can only concatenate str (not "int") to str

In [113]:
# instead, change the integer to a string first
WB_zip = str(WB_zip)
type(WB_zip)

str

In [114]:
# does it work now?
address + " " + WB_zip

'1808 H ST NW, DC 20037'

### 3. Data types: lists, tuples and dictionaries
Ints, floats and strings are the most basic data structures (think of them as atoms). Next, we'll look at data types that combine those atoms together in more complex ways. Lists, tuples and dictionaries are containers for other data. They can be used to combine your data in more complex ways (think molecules rather than atoms).

|Data structure | Properties| Syntax|
|----|----|----|
|List | Ordered, mutable sequence | mylist = [1,2,3] |
|Tuple | Ordered, immutable sequence | mytuple = (1,2,3) |
|Set | Unordered set of unique values | set(1,2,3) |
|Dictionary | Mutable set of key, value pairs | mydict = {'first_value':1, 'second_value:2} |

#### 3.1 Manipulating lists
Lists are ordered collections defined using square brackets. They're helpful when your data has an order, and may need to be changed in place. You can put strings, floats, integers, or any of Python's more complex data types into a list.

In [115]:
# define a list with []
weekdays = ['monday','tuesday','wednesday','thursday','friday']
weekdays

['monday', 'tuesday', 'wednesday', 'thursday', 'friday']

In [120]:
# Lists are ordered collections; they are indexed starting at zero.
# To get an individual item, use square brackets and the appropriate index value.
weekdays[0]

'monday'

In [122]:
# You often want to get a 'slice' of the list (eg. the first item to the fourth item)

['monday', 'tuesday', 'wednesday']

In [127]:
# select slices (eg. the first to the fourth item) with square bracket notation
# the format is: mylist[start_point:end_point]

weekdays[0:3]

['monday', 'tuesday', 'wednesday']

In [125]:
# check the type of items in a list
type(weekdays[3])

str

In [126]:
# a list is a mutable ordered collection, you can change its contents in-place
weekdays[3] = 'thursday - practice Python!'
weekdays

['monday', 'tuesday', 'wednesday', 'thursday - practice Python!', 'friday']

In [128]:
# add an item to a list with append()
weekdays.append('saturday')
weekdays

['monday',
 'tuesday',
 'wednesday',
 'thursday - practice Python!',
 'friday',
 'saturday']

In [129]:
# test for a value in your list
'saturday' in weekdays

True

In [130]:
# use .remove() to clean up the weekdays list

weekdays.remove('saturday')
weekdays

['monday', 'tuesday', 'wednesday', 'thursday - practice Python!', 'friday']

In [131]:
# concatenate two lists
odds = [1,3,5]
evens = [2,4,6]
all_nums = odds + evens
all_nums

[1, 3, 5, 2, 4, 6]

In [85]:
# Lists, like other data types, have methods associated with them. These are accessed through dot notation.
# Use tab complete to find helpful methods! 

all_nums.sor

[1, 2, 3, 4, 5, 6]

### 4. Logic and control flow - a short intro

Definition of **control flow**:
* In a simple script, program execution starts at the top and executes each instruction in order. 
* **Control flow** statements can cause the execution to loop and skip instructions based on conditions.

#### 4.1 Loops and iterables
Definition: an **iterable** is an object capable of returning its members one at a time. Strings, lists and dictionaries are all iterables.

A **for loop** runs a block of code repeatedly "for" each item in an iterable. End the declaration with : and indent the subsidiary code.

In [132]:
for color in ['red','green','blue']:
    print("I love " + color)

I love red
I love green
I love blue

In [133]:
# or characters in a string
for letter in 'abcd':
    print(letter.upper())

A
B
C
D

In [136]:
# the range() function produces a helpful iterator
for n in range(5):
    print("I ate {} donuts".format(n + 1))

I ate 1 donuts
I ate 2 donuts
I ate 3 donuts
I ate 4 donuts
I ate 5 donuts

In [137]:
# a while loop allows you to move through part of an iterable until a condition is met

a = 0
while a < 5:
    print('I am small {}'.format(a))
    a += 1

I am small 0
I am small 1
I am small 2
I am small 3
I am small 4

In [138]:
# try-except is one basic method for error handling

my_list = [5,6,'Sally',10]
for obj in my_list:
    try:
        print('{}'.format(obj + 1))
    except:
        print("I am not a number, I am a free woman!")

6
7
I am not a number, I am a free woman!
11

#### 4.2 Logic operators

We test conditions using logic operators.

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| <= | less than or equal to |
| > | greater than |
| >= | greater than or equal to |

In [139]:
# NOTE: We declare variables using '='
a = 5
b = 7

In [140]:
# But compare them using '=='
a == b

False

In [141]:
# Test whether a does not equal b
a != b

True

In [142]:
# Logic expressions evaluate to True or False (datatype: Boolean)

test = b > a

test

True

In [143]:
type(test)

bool

#### 4.3 Conditional statements with if

My pet Python is a vegetarian. She will test whether variable 'food' is 'burger', 'chicken' or 'veg', then decide whether to eat.

Do this with 'if', 'elif' (else if), and 'else'.

In [144]:
food = 'veg'

In [145]:
if food == 'veg':
    print ('yum')
elif food == 'chicken':
    print ('hmm maybe')
elif food == 'burger':
    print ('no thanks')
else:
    pass

yum

NOTE: Here's how the structure works:
* start with an 'if' statement, specifying the logical test to apply
* make sure your 'if' statement ends with :
* **indent the conditional code block.** Whatever code should be executed if the condition is true, indent it with a tab.
* test additional actions using 'elif', and any other actions with 'else'.

#### 4.4 Testing conditions inside a loop
Combining loops with logic allows you to build more sophisticated code structures:

In [146]:
days = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']

for day in days:
    if day == 'Sat':
        location = '--> Beach!'
    elif day == 'Sun':
        location = '--> My sofa!'
    else:
        location = '--> MC5-215B'
    print(day, location)

Mon --> MC5-215B
Tue --> MC5-215B
Wed --> MC5-215B
Thu --> MC5-215B
Fri --> MC5-215B
Sat --> Beach!
Sun --> My sofa!

In [ ]:
# EXAMPLE 2: is your pet allowed?

authorized_pets = ['small dog', 'cat', 'hamster','budgerigar']

print("Welcome to Nick's Apartment Block.")
my_pet = input("Type your pet's breed to see if it's accepted: ")

if my_pet in authorized_pets:
    print("Congratulations, your {} is welcome here!".format(my_pet))
else:
    print("Sorry your {} is NOT ACCEPTED".format(my_pet))

Welcome to Nick's Apartment Block.
Type your pet's breed to see if it's accepted: bat
Sorry your bat is NOT ACCEPTED

#### --> This concludes our tour of data structures and brief introduction to control flow. We'll go into more depth on structures like dictionaries next, and cover control flow in more detail.